<div class="container"><div class="lead">Your shade name is: <%= @consultation.color_finder %></div>
<div class="lead">Amount of neutral necessary for grey coverage: <%= @consultation.grey_finder %></div>
<div class="lead">Lightening: <%= @consultation.lift %></div>
<%= image_tag(@consultation.image, :class => "img-circle center-block", :size => "100x100")   %>
</div>