<div class="container"><div class="lead">Your shade name is: <%= @consultation.color_finder %></div>
<div class="lead">Amount of neutral for grey coverage: <%= @consultation.grey_finder %></div>
<div class="lead">Lightening: <%= @consultation.lift %></div>
<img src="/assets/5N.jpg" class="img-circle center-block" width="100" height="100">
</div>
