<div class="container"><div class="lead">Your result is: <%= @consultation.color_finder %></div>
<div class="lead">Your result is: <%= @consultation.grey_finder %></div>
<div class="lead">Your result is: <%= @consultation.lift %></div>
<img url('5N.jpg')>
</div>
