<div class="container"><div class="lead">Your shade name is: <%= @consultation.color_finder %></div>
<div class="lead">For the best results while covering grey: <%= @consultation.grey_finder %></div>
<div class="lead">If you are looking to go ligher consider the following: <%= @consultation.lift %></div>
<%= image_tag(@consultation.image, :class => "img-circle center-block", :size => "100x100")   %>
<a href="/" class="lead">Return to consultation.</a>
</div>